@import url("https://use.typekit.net/xkc7zmp.css");

::selection {
    background-color: rgb(255, 149, 0);
    color: #fff;
}

html, body {
	background-color: black;
	color: white;
}

body {
	font-family: '-apple-system', 'Helvetica Neue', 'Segoe UI', sans-serif;
	font-weight: 500;
	margin: 3rem 2rem 2rem 2rem;
	font-size: 13px;
	text-rendering: 'optimizeLegibility';
	-webkit-font-smoothing: 'antialiased';
	padding-bottom: 6rem;
}

#logo {
	height: 20px;
	width: auto;
}

#slogan {
	font-size: 48px;
	font-weight: 800;
	line-height: 8rem;
}

.content {
	font-size: 18px;
	font-weight: 600;
	/* line-height: 4rem; */
	width: 40vw;
	margin-top: 25px;
}

#disclaimer {
	color: lightslategray;
	font-size: 12px;
}


a, #call {
	margin-top: 25px;
	display:inline-block;
	overflow:hidden;
	background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-04-04&kind=iossoftware&bubble=ios_apps) no-repeat;
	background-size: auto 100%;
	width:135px;
	height:40px;
}

@media (max-width: 1000.98px) {
	#slogan {
		line-height: 4rem;
		margin-top: 32px;
		margin-bottom: 25px;
	}

	a, #call {
		margin: 0;
	}
  
	.content {
		width: 75vw;
		margin-top: 57px;
	}
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2),

  only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)

  {

	body {
		margin: 6rem 4rem 4rem 4rem;
	}

	#logo {
		height: 40px;
	}

	#slogan {
		font-size: 84px;
		line-height: 10rem;
	}

	.content {
		width: 75vw;
		font-size: 24px;
	}

	a, #call {
		width:270px;
		height:80px;
	}

}